html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #F3EADD;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
a, a:hover {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #582515;
}
hr {
	color: #D89A1B;
	background-color: #D89A1B;
	height: 2px;
}
.margin10 {
	margin: 10px;
}
.red {
	color: #F00;
}
.error {
	color: #F00;
}
.connect-us {
	text-transform: uppercase;
	background-color: #FFF;
	font-weight: bold;
	font-size: 12px;
	width: 40px;
	padding: 5px;
	border-radius: 0px;
	box-shadow: 5px 5px 5px #000;
	position: fixed;
	left: 0px;
	top: 200px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 1000;
}
/*******************HEADER**********************/
.top-nav {
	width: 100%;
	min-width: 960px;
	height: 75px;
	background-color: #373833;
}
.top-nav-inner {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.logo {
	float: left;
}
.logo img {
	padding-top:5px;
}
.top-menu {
	width: auto;
	float: left;
	top: 15px;
}
.top-menu li {
	margin-right: 20px;
}
.top-menu a {
	color: #FFF !important;
	text-shadow: none !important;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid transparent;
	/*transition-duration*/
	-webkit-transition-duration:1s;
	   -moz-transition-duration:1s;
	     -o-transition-duration:1s;
	        transition-duration:1s;
}
.top-menu a:hover {
	color: #CE3827 !important;
	border-bottom: 1px dotted #F00;
	
}

/***************FOOTER*******************/
#footer {
	width: 100%;
	min-width: 960px;
	background-color: #CD3F31;
	border-top: 1px #FF0 dashed;
	float: left;
}
#footer-inner {
	width: 960px;
	margin: 10px auto;
	color: #DBDBDB;
}
#footer-inner a{
	color: #DBDBDB;
}
#footer-inner h4 {
	border-bottom: #FFF 1px dotted;
	padding-bottom: 5px;
}
/*****************CONTENT*********************/
#content {
	margin: -20px auto;
	width: auto;
	min-height: 400px;
}
#column-left {
	width: 260px;
	float: left;
}
#column-right {
	width: 260px;
	float: right;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 275px;
}
#column-right + #content {
	margin-right: 275px;
}
.content-wrapper {
	width: 960px;
	margin: 0 auto 30px;
}
.content-wrapper #content{
	background-color: #FCFCFF;
	padding: 20px 20px 5px;
	border-radius: 5px;
	margin-top: 20px;
	border-top: 40px solid #F2F2EE;
}
#column-right .banner {
	background-color: #FCFCFF;
	padding: 5px;
	border-radius: 5px;
	border-top: 40px solid #F2F2EE	
}
/******************HOME PAGE******************/
.content-top {
	width: 100%;
	min-width: 960px;
	float: left;
}
.content-top.content-slider {
	background-image: url('../image/banner-bg.jpg');
	background-repeat: repeat-x;
	height: 380px;
}
.content-top.content-intro {
	background-color: #F3EADD;
	height: 480px;
}
.content-top.content-home-gallery {
	background-color: #A6A7A1;
	height: 300px;
}
.content-top.content-home-gallery img{
	max-height: 197px;
	border: 8px solid #FFF;
}
.content-top.content-home-gallery img:hover{
	border: 8px solid #EEE;
}
.content-top.content-more {
	background-color: #FCE297;
	height: 25px;
}

.content-top.content-service {
	background-image: url('../image/yellow-grid-bg.jpg');
	border-bottom: 30px solid #EECD82;
}
.content-top.content-contact {
	background-color: #373833;
	color: #FFF;
}
.content-top.content-contact input {
	width: 100%;
}
.content-inner {
	width: 960px;
	margin: 0 auto;
}
.gallery-title {
	text-transform: uppercase;
	background-color: #D14335;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	width: 400px;
	padding: 15px;
	margin: -30px auto;
	box-shadow: 5px 5px 5px #000;
}
/******SOCIAL*****************/
.sns-btn {
	background: url("../image/social_icon.gif");
	background-repeat: no-repeat;	
	width: 32px;
	height: 32px;
	margin: 0px 5px 5px 5px;
}
.sns-btn:hover{
	opacity: 0.8;
}
.sns-btn.facebook {
	background-position: 0px -160px;
}
.sns-btn.email {
	background-position: 0px -128px;
}

.sns-btn.tumblr {
	background-position: 0px -672px;
}
.sns-btn.skype {
	background: url("../image/skype_button.png");
	background-size: 32px 32px;
}
.sns-btn.skype img{
	width: 31px;
	height: 31px;
	border: 1px solid #CCC;
	border-radius: 3px;
}
.sns-btn.twitter {
	background-position: 0px -704px;
}
.sns-btn.pinterest {
	background-position: 0px -544px;
}
.sns-btn.yahoo {
	background-position: 0px -768px;
}
.sns-btn.googleplus {
	background-position: 0px -288px;
}/*********BREADCRUMB*******************/
.breadcrumb {
	width: 100%;
	margin-top: -55px;
	background-color: transparent;
}
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #DBDEE1;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #52A919;
	background: #F2F2EE;
	border-bottom: none;
}
.box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 178px;
	min-height: 178px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: none;
}
.box-product .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.box-product .price + .cart {
	margin-top: 30px;
}
.content-bottom .box-product .name {
	height: 60px;
	overflow: hidden;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-weight: bold;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/*********News**********/
.news-wrapper {
	display: table;
}
.news {
	width: 100%;
	float: left;
}
.news + .news {
	border-top: 1px dotted #333;
}
.news h5 {
	margin-bottom: 0px;
}
.news-date {
	font-style: italic;
}
.news-image {
	width: 80px;
	min-height: 80px;
	float: left;
	margin-top: 16px;
}
.news-image img {
	max-width: 80px;
}
.news-content {
	float: left;
	margin-left: 10px;
	width: 550px;
}
.box-news a, .news-content h5 a {
	font-weight: bold;
	color: #175F93;
}
/*Notification*/
#notification {
	margin: 40px auto;
	width: 1000px;
}
/*home page*/
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin: 0 !important;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
	margin-left: 5px;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
	border-radius: 3px;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
	border-radius: 3px;
}
.pagination .results {
	float: right;
	padding: 3px 5px;
}